.nosotros {
  text-align: center;

  & h1 {
    color: #ffce00;
    text-shadow: 3px 3px 2px #89119d;
    margin: 2rem 0 1rem;
  }

  &__btn {
    color: #9c27b0;
    background-color: #ffce00;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all 0.2s;
    &:hover {
      background-color: #c758da;
      color: #ffce00;
    }
  }
}
