@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(145deg, #ffce00, #89119d);
  min-height: 100vh;
 font-family: 'Staatliches', cursive;
}


